//All main varibles 
$background-image: linear-gradient(1deg, #e5f3f3 0%, #95f0fa 51%, #55c3eb 80%);
$dark-gray-color: #606060;
$dark-blue-color: rgb(25, 150, 233);
$light-blue-color: rgb(27, 212, 236);
$primary-button-color: #18e7cc;
$secondary-button-color: #c2c2c2;
$light-gray-color: #e0e3eb;
$gray-white-color: #e6eaef;
$box-shadow-var: -2px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
$svg-gray: invert(50%) sepia(65%) saturate(2%) hue-rotate(242deg) brightness(108%) contrast(101%);
